:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.fadein {
    opacity: 0;
    transition: all 1.5s;
    transform: translate(0, 100px);
}

.fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
}

main {
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav {
        background-image: linear-gradient(to right, #2BBAD8, #00A7DB,);
        h1 {
            margin: 0 auto;
            // background-color: #2BBAD8;
            font-size: 18rem;
            font-weight: 500;
            line-height: 1.4444;
            color: #FFFFFF;
            margin: 7rem auto;

            @include media('lc') {
                font-size: 59.07px;
                margin: calc(3.282 * 7px) auto;
            }
        }
    }

    #fv {
        background: #E9EEF0;
        padding: 10rem;
        @include media('lc') {
            padding: 32px;
        }

        div {

            color: #444444;

            h2 {
                font-size: 21rem;
                font-weight: 700;
                line-height: 1.44444;
                @include media('lc') {
                    font-size: 68.922px;
                }
            }
            
            h3 {
                font-size: 35rem;
                font-weight: 900;
                padding: 0 0.5em 0 0.1em;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
                // align-self: center;

                @include media('lc') {
                    font-size: 114.87px;
                }

                span {
                    background: -webkit-linear-gradient(#2CBBD9, #01A7DC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            div {
                width: calc(100% - 20px);

                img {
                    width: 100%;
                    border: 5rem solid #2BBAD8;
                    border-radius: 60rem;

                    @include media('lc') {
                        border: 16.41px solid #2BBAD8;
                        border-radius: 196.92px;
                    }
                }
            }
            //
        }
    }

    #intro {
        // background-color: #E9EEF0;
        background-color: #E9EEF0;

        div.wrap {
            display: flex;
            align-items: flex-start;
            background: #E9EEF0 url("../image/fv_bg.png") no-repeat center;
            background-size: cover;
            padding-top: 37rem;
            padding-bottom: 44rem;
            @include media('lc') {
                padding-top: 121.434px;
                padding-bottom: 144.408px;
            }

            .pure_blue {
                background-color: #D4F5F9;
                color: #1A82A1;
                line-height: 1.2;
                padding-left: 26rem;
                padding-right: 24rem;
                font-size: 23rem;
                font-weight: 700;
                display: inline;

                @include media('lc') {
                    padding-left: 85.332px;
                    font-size: 75.486px;
                }

                &:nth-child(2) {
                    margin-bottom: 32rem;
                    
                    @include media('lc') {
                        margin-bottom: 105.024px;
                    }
                }
            }
            .normal {
                color: #000;
                font-size: 17rem;
                line-height: auto;
                padding-left: 26rem;
                line-height: 1.4705;   /* within paragraph */
                margin-bottom: 35rem;

                @include media('lc') {
                    font-size: 55.794px;
                    padding-left: 85.332px;
                    margin-bottom: 114.87px;
                }

                &:nth-child(3) {
                    margin-bottom: 21rem;
                    @include media('lc') {
                        margin-bottom: 68.922px;
                    }
                }
            }

            div.arrow {
                width: 52rem;
                height: 169rem;
                align-self: center;
                @include media('lc') {
                    width: 170.664px;
                    height: 554.658;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            div.line {
                width: 86%;
                // height: 262rem;
                align-self: center;
                aspect-ratio: 338/262;
                
                @include media('lc') {
                    // width: 170.664px;
                    // height: 554.658;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }

    #intro_employ {
        padding-top: 45rem;
        @include media('lc') {
            padding-top: 147.69px;
        }

        h6 {
            text-align: center;
            line-height: 1.5;
            margin-bottom: 24rem;

            span {
                color: #D82323;
            } 
            font-size: 20rem;
            @include media('lc') {
                font-size: 65.64px;
                 margin-bottom: 78.768px;
            }
        }

        p {
            font-size: 13rem;
            line-height: 2.1;
            text-align: center;
            @include media('lc') {
                font-size: 42.666px;
            }
        }

        div.photos {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex-direction: row;
                grid-template-columns: auto auto auto;
                gap: 14rem;
                &.f {
                    margin-bottom: 14rem;
                    padding-left: 10rem;
                    padding-right: 10rem;
                }
                
                div {
                    width: 114rem;
                    height: 145rem;
                }
            }
            div.s {
                display: flex;
                flex-direction: row;
                justify-content: center
            }
        }
    }

    #que {
        background-color: #E9EEF0;

        div.wrap {
            display: flex;
            align-items: flex-start;
            background: #E9EEF0 url("../image/que_bg.png") no-repeat center;
            background-size: cover;
            padding-top: 37rem;
            padding-bottom: 44rem;
            @include media('lc') {
                padding-top: 121.434px;
                padding-bottom: 144.408px;
            }

            .pure_blue {
                padding-left: 10rem;
                padding-right: 20rem;
                font-size: 17rem;
                font-weight: 700;
                background-color: #D4F5F9;
                line-height: 2.1;
                
                span {
                    color: #1A82A1;
                    line-height: 1.2;
                    font-size: 23rem;
                    display: inline;
                }
                

                // @include media('lc') {
                //     padding-left: 85.332px;
                //     font-size: 75.486px;
                // }

                // &:nth-child(2) {
                //     margin-bottom: 32rem;
                    
                //     @include media('lc') {
                //         margin-bottom: 105.024px;
                //     }
                // }
            }
            .normal {
                color: #000;
                font-size: 17rem;
                line-height: auto;
                padding-left: 26rem;
                line-height: 1.4705;   /* within paragraph */
                margin-bottom: 35rem;

                @include media('lc') {
                    font-size: 55.794px;
                    padding-left: 85.332px;
                    margin-bottom: 114.87px;
                }

                &:nth-child(3) {
                    margin-bottom: 21rem;
                    @include media('lc') {
                        margin-bottom: 68.922px;
                    }
                }
            }

            div.arrow {
                width: 52rem;
                height: 169rem;
                align-self: center;
                @include media('lc') {
                    width: 170.664px;
                    height: 554.658;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            div.line {
                width: 86%;
                // height: 262rem;
                align-self: center;
                aspect-ratio: 338/262;
                
                @include media('lc') {
                    // width: 170.664px;
                    // height: 554.658;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}
