@keyframes line-repetition {
  0% {
    height: 0px;
    top: 0;
  }
  50% {
    height: 63px;
    top: 37px;
  }
  100% {
    height: 0px;
    top: 100%;
  }
}
@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mt_1 {
  margin-top: 1px;
}

.mb_1 {
  margin-bottom: 1px;
}

.ml_1 {
  margin-left: 1px;
}

.mr_1 {
  margin-right: 1px;
}

.my_1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx_1 {
  margin-left: 1px;
  margin-right: 1px;
}

.pt_1 {
  padding-top: 1px;
}

.pb_1 {
  padding-bottom: 1px;
}

.pl_1 {
  padding-left: 1px;
}

.pr_1 {
  padding-right: 1px;
}

.py_1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.px_1 {
  padding-left: 1px;
  padding-right: 1px;
}

.fs_1 {
  font-size: 1px !important;
}

.mt_2 {
  margin-top: 2px;
}

.mb_2 {
  margin-bottom: 2px;
}

.ml_2 {
  margin-left: 2px;
}

.mr_2 {
  margin-right: 2px;
}

.my_2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx_2 {
  margin-left: 2px;
  margin-right: 2px;
}

.pt_2 {
  padding-top: 2px;
}

.pb_2 {
  padding-bottom: 2px;
}

.pl_2 {
  padding-left: 2px;
}

.pr_2 {
  padding-right: 2px;
}

.py_2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px_2 {
  padding-left: 2px;
  padding-right: 2px;
}

.fs_2 {
  font-size: 2px !important;
}

.mt_3 {
  margin-top: 3px;
}

.mb_3 {
  margin-bottom: 3px;
}

.ml_3 {
  margin-left: 3px;
}

.mr_3 {
  margin-right: 3px;
}

.my_3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mx_3 {
  margin-left: 3px;
  margin-right: 3px;
}

.pt_3 {
  padding-top: 3px;
}

.pb_3 {
  padding-bottom: 3px;
}

.pl_3 {
  padding-left: 3px;
}

.pr_3 {
  padding-right: 3px;
}

.py_3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.px_3 {
  padding-left: 3px;
  padding-right: 3px;
}

.fs_3 {
  font-size: 3px !important;
}

.mt_4 {
  margin-top: 4px;
}

.mb_4 {
  margin-bottom: 4px;
}

.ml_4 {
  margin-left: 4px;
}

.mr_4 {
  margin-right: 4px;
}

.my_4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx_4 {
  margin-left: 4px;
  margin-right: 4px;
}

.pt_4 {
  padding-top: 4px;
}

.pb_4 {
  padding-bottom: 4px;
}

.pl_4 {
  padding-left: 4px;
}

.pr_4 {
  padding-right: 4px;
}

.py_4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px_4 {
  padding-left: 4px;
  padding-right: 4px;
}

.fs_4 {
  font-size: 4px !important;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.ml_5 {
  margin-left: 5px;
}

.mr_5 {
  margin-right: 5px;
}

.my_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx_5 {
  margin-left: 5px;
  margin-right: 5px;
}

.pt_5 {
  padding-top: 5px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pl_5 {
  padding-left: 5px;
}

.pr_5 {
  padding-right: 5px;
}

.py_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px_5 {
  padding-left: 5px;
  padding-right: 5px;
}

.fs_5 {
  font-size: 5px !important;
}

.mt_6 {
  margin-top: 6px;
}

.mb_6 {
  margin-bottom: 6px;
}

.ml_6 {
  margin-left: 6px;
}

.mr_6 {
  margin-right: 6px;
}

.my_6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx_6 {
  margin-left: 6px;
  margin-right: 6px;
}

.pt_6 {
  padding-top: 6px;
}

.pb_6 {
  padding-bottom: 6px;
}

.pl_6 {
  padding-left: 6px;
}

.pr_6 {
  padding-right: 6px;
}

.py_6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px_6 {
  padding-left: 6px;
  padding-right: 6px;
}

.fs_6 {
  font-size: 6px !important;
}

.mt_7 {
  margin-top: 7px;
}

.mb_7 {
  margin-bottom: 7px;
}

.ml_7 {
  margin-left: 7px;
}

.mr_7 {
  margin-right: 7px;
}

.my_7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mx_7 {
  margin-left: 7px;
  margin-right: 7px;
}

.pt_7 {
  padding-top: 7px;
}

.pb_7 {
  padding-bottom: 7px;
}

.pl_7 {
  padding-left: 7px;
}

.pr_7 {
  padding-right: 7px;
}

.py_7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.px_7 {
  padding-left: 7px;
  padding-right: 7px;
}

.fs_7 {
  font-size: 7px !important;
}

.mt_8 {
  margin-top: 8px;
}

.mb_8 {
  margin-bottom: 8px;
}

.ml_8 {
  margin-left: 8px;
}

.mr_8 {
  margin-right: 8px;
}

.my_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx_8 {
  margin-left: 8px;
  margin-right: 8px;
}

.pt_8 {
  padding-top: 8px;
}

.pb_8 {
  padding-bottom: 8px;
}

.pl_8 {
  padding-left: 8px;
}

.pr_8 {
  padding-right: 8px;
}

.py_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px_8 {
  padding-left: 8px;
  padding-right: 8px;
}

.fs_8 {
  font-size: 8px !important;
}

.mt_9 {
  margin-top: 9px;
}

.mb_9 {
  margin-bottom: 9px;
}

.ml_9 {
  margin-left: 9px;
}

.mr_9 {
  margin-right: 9px;
}

.my_9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mx_9 {
  margin-left: 9px;
  margin-right: 9px;
}

.pt_9 {
  padding-top: 9px;
}

.pb_9 {
  padding-bottom: 9px;
}

.pl_9 {
  padding-left: 9px;
}

.pr_9 {
  padding-right: 9px;
}

.py_9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.px_9 {
  padding-left: 9px;
  padding-right: 9px;
}

.fs_9 {
  font-size: 9px !important;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.mr_10 {
  margin-right: 10px;
}

.my_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx_10 {
  margin-left: 10px;
  margin-right: 10px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pl_10 {
  padding-left: 10px;
}

.pr_10 {
  padding-right: 10px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px_10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fs_10 {
  font-size: 10px !important;
}

.bg_text {
  background: #55483E;
}

.text_text {
  color: #55483E;
}

.border_text {
  border-color: #55483E;
}

.bg_softgray {
  background: #F5F5F5;
}

.text_softgray {
  color: #F5F5F5;
}

.border_softgray {
  border-color: #F5F5F5;
}

.bg_main {
  background: #d4b669;
}

.text_main {
  color: #d4b669;
}

.border_main {
  border-color: #d4b669;
}

@font-face {
  font-family: "Nato";
  src: url(../font/NotoSansJP-Regular.otf);
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.25641vw;
  font-family: "Noto Sans JP";
}
@media print, screen and (min-width: 1281px) {
  html {
    font-size: 0.078125vw;
  }
}

body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: "Nato";
  color: #55483E;
  font-size: 19rem;
  line-height: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media print, screen and (min-width: 1281px) {
  body {
    font-size: 16px;
  }
}

header, main, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.tc {
  display: block !important;
}

.tb {
  display: none !important;
}

@media print, screen and (max-width: 991px) {
  .tc {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media print, screen and (min-width: 769px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2 {
  line-height: 1.2;
}

h3,
h4 {
  line-height: 1.5;
}

h5,
h6 {
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[role=button] {
  cursor: pointer;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[hidden] {
  display: none !important;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 48px 0px 0px;
  z-index: -100;
  box-sizing: border-box;
  background: url("./../image/header/bg.png") no-repeat top center;
  background-size: cover;
}
header div {
  width: calc(50vw - 195px);
  height: 100%;
  display: flex;
  flex-direction: column;
}
header .nav {
  width: calc(50vw - 195px);
  padding: 0 auto;
}
header .nav div {
  max-width: 981px;
  display: flex;
  flex-direction: column;
  gap: 26.4px;
}
header .nav div a {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 1.772;
  color: #505050;
}
header .nav div a span {
  font-size: 18px;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.fadein {
  opacity: 0;
  transition: all 1.5s;
  transform: translate(0, 100px);
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #nav {
  background-image: linear-gradient(to right, #2BBAD8, #00A7DB);
}
main #nav h1 {
  margin: 0 auto;
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.4444;
  color: #FFFFFF;
  margin: 7rem auto;
}
@media print, screen and (min-width: 1281px) {
  main #nav h1 {
    font-size: 59.07px;
    margin: 22.974px auto;
  }
}
main #fv {
  background: #E9EEF0;
  padding: 10rem;
}
@media print, screen and (min-width: 1281px) {
  main #fv {
    padding: 32px;
  }
}
main #fv div {
  color: #444444;
}
main #fv div h2 {
  font-size: 21rem;
  font-weight: 700;
  line-height: 1.44444;
}
@media print, screen and (min-width: 1281px) {
  main #fv div h2 {
    font-size: 68.922px;
  }
}
main #fv div h3 {
  font-size: 35rem;
  font-weight: 900;
  padding: 0 0.5em 0 0.1em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@media print, screen and (min-width: 1281px) {
  main #fv div h3 {
    font-size: 114.87px;
  }
}
main #fv div h3 span {
  background: -webkit-linear-gradient(#2CBBD9, #01A7DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #fv div div {
  width: calc(100% - 20px);
}
main #fv div div img {
  width: 100%;
  border: 5rem solid #2BBAD8;
  border-radius: 60rem;
}
@media print, screen and (min-width: 1281px) {
  main #fv div div img {
    border: 16.41px solid #2BBAD8;
    border-radius: 196.92px;
  }
}
main #intro {
  background-color: red;
}
main #intro div.wrap {
  display: flex;
  align-items: flex-start;
  background: #E9EEF0 url("../image/fv_bg.png") no-repeat center;
  background-size: cover;
  padding-top: 37rem;
  padding-bottom: 44rem;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap {
    padding-top: 121.434px;
    padding-bottom: 144.408px;
  }
}
main #intro div.wrap .pure_blue {
  background-color: #D4F5F9;
  color: #1A82A1;
  line-height: 1.2;
  padding-left: 26rem;
  padding-right: 24rem;
  font-size: 23rem;
  font-weight: 700;
  display: inline;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap .pure_blue {
    padding-left: 85.332px;
    font-size: 75.486px;
  }
}
main #intro div.wrap .pure_blue:nth-child(2) {
  margin-bottom: 32rem;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap .pure_blue:nth-child(2) {
    margin-bottom: 105.024px;
  }
}
main #intro div.wrap .normal {
  color: #000;
  font-size: 17rem;
  line-height: auto;
  padding-left: 26rem;
  line-height: 1.4705; /* within paragraph */
  margin-bottom: 35rem;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap .normal {
    font-size: 55.794px;
    padding-left: 85.332px;
    margin-bottom: 114.87px;
  }
}
main #intro div.wrap .normal:nth-child(3) {
  margin-bottom: 21rem;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap .normal:nth-child(3) {
    margin-bottom: 68.922px;
  }
}
main #intro div.wrap div.arrow {
  width: 52rem;
  height: 169rem;
  align-self: center;
}
@media print, screen and (min-width: 1281px) {
  main #intro div.wrap div.arrow {
    width: 170.664px;
    height: 554.658;
  }
}
main #intro div.wrap div.arrow img {
  width: 100%;
  height: 100%;
}
main #intro div.wrap div.line {
  width: 86%;
  align-self: center;
  aspect-ratio: 338/262;
}
main #intro div.wrap div.line img {
  width: 100%;
  height: 100%;
}
main #intro_employ {
  padding-top: 45rem;
}
@media print, screen and (min-width: 1281px) {
  main #intro_employ {
    padding-top: 147.69px;
  }
}
main #intro_employ h6 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24rem;
  font-size: 20rem;
}
main #intro_employ h6 span {
  color: #D82323;
}
@media print, screen and (min-width: 1281px) {
  main #intro_employ h6 {
    font-size: 65.64px;
    margin-bottom: 78.768px;
  }
}
main #intro_employ p {
  font-size: 13rem;
  line-height: 2.1;
  text-align: center;
}
@media print, screen and (min-width: 1281px) {
  main #intro_employ p {
    font-size: 42.666px;
  }
}
main #intro_employ div.photos {
  display: flex;
  flex-direction: column;
}
main #intro_employ div.photos div {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  gap: 14rem;
}
main #intro_employ div.photos div.f {
  margin-bottom: 14rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
main #intro_employ div.photos div div {
  width: 114rem;
  height: 145rem;
}
main #intro_employ div.photos div.s {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #que {
  background-color: #E9EEF0;
}
main #que div.wrap {
  display: flex;
  align-items: flex-start;
  background: #E9EEF0 url("../image/fv_bg.png") no-repeat center;
  background-size: cover;
  padding-top: 37rem;
  padding-bottom: 44rem;
}
@media print, screen and (min-width: 1281px) {
  main #que div.wrap {
    padding-top: 121.434px;
    padding-bottom: 144.408px;
  }
}
main #que div.wrap .pure_blue {
  padding-left: 10rem;
  padding-right: 20rem;
  font-size: 17rem;
  font-weight: 700;
  background-color: #D4F5F9;
  line-height: 2.1;
}
main #que div.wrap .pure_blue span {
  color: #1A82A1;
  line-height: 1.2;
  font-size: 23rem;
  display: inline;
}
main #que div.wrap .normal {
  color: #000;
  font-size: 17rem;
  line-height: auto;
  padding-left: 26rem;
  line-height: 1.4705; /* within paragraph */
  margin-bottom: 35rem;
}
@media print, screen and (min-width: 1281px) {
  main #que div.wrap .normal {
    font-size: 55.794px;
    padding-left: 85.332px;
    margin-bottom: 114.87px;
  }
}
main #que div.wrap .normal:nth-child(3) {
  margin-bottom: 21rem;
}
@media print, screen and (min-width: 1281px) {
  main #que div.wrap .normal:nth-child(3) {
    margin-bottom: 68.922px;
  }
}
main #que div.wrap div.arrow {
  width: 52rem;
  height: 169rem;
  align-self: center;
}
@media print, screen and (min-width: 1281px) {
  main #que div.wrap div.arrow {
    width: 170.664px;
    height: 554.658;
  }
}
main #que div.wrap div.arrow img {
  width: 100%;
  height: 100%;
}
main #que div.wrap div.line {
  width: 86%;
  align-self: center;
  aspect-ratio: 338/262;
}
main #que div.wrap div.line img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #EA97B0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 392px;
  height: 80px;
  z-index: 1000;
}
@media only screen and (max-width: 768px) {
  footer {
    width: 100vw;
  }
}
footer div {
  color: #FFFFFF;
  background-color: #f32160;
  background: url("./../image/footer/bg.png");
  background-repeat: no-repeat;
  background-position: left 30.6px top 10.7px;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div a {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}
footer div a h4 {
  font-size: 17px;
}
footer div a .btn {
  position: absolute;
  right: 21px;
  background-color: #FFFFFF;
  width: 23.5px;
  height: 23.5px;
  border-radius: 50%;
  bottom: 25px;
}
footer div a img {
  position: absolute;
  top: 10.7px;
  left: 30.6px;
}/*# sourceMappingURL=style.css.map */