footer {
    background-color: #EA97B0;
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 392px;
    height: 80px;
    z-index: 1000;

    @include media('sp') {
        width: 100vw;
    }
    div {
        color: #FFFFFF;
        background-color: #f32160;
        background: url("./../image/footer/bg.png") ;
        background-repeat: no-repeat;
        background-position: left 30.6px top 10.7px;
        width: 100%;
        height: 100%;
        align-items: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        a  {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 30px;
            h4 {
                font-size: 17px;
            }
    
            .btn {
                position: absolute;
                right: 21px;
                background-color: #FFFFFF;
                width: 23.5px;
                height: 23.5px;
                border-radius: 50%;
                bottom: 25px;
            }
    
            img {
                position: absolute;
                top: 10.7px;
                left: 30.6px;
            }
        }
    }
}

    // @include media('sp') {
    //     margin-top: 67rem;
    // }

    // ._top {
    //     position: relative;

    //     &::before {
    //         width: 100%;
    //         left: 0;
    //         bottom: 0;
    //         height: 255rem;
    //         position: absolute;
    //         background-color: #F5F5F5;
    //         content: '';
    //     }

    //     .wrap_rl {
    //         position: relative;

    //         ._left {
    //             display: flex;
    //             flex-direction: column;

    //             ._contact {
    //                 font-size: 28rem;
    //                 line-height: 35rem;
    //                 padding-bottom: 50rem;

    //                 h2 {
    //                     padding-bottom: 24rem;
    //                     margin-bottom: 35rem;
    //                     position: relative;

    //                     &::before {
    //                         content: '';
    //                         width: 37rem;
    //                         height: 1rem;
    //                         background: $text_color;
    //                         position: absolute;
    //                         left: 0;
    //                         bottom: 0;
    //                     }
    //                 }

    //                 a {
    //                     @include media('pc') {
    //                         pointer-events: none;
    //                     }

    //                     font-size: 62rem;

    //                     i {
    //                         margin-right: 20rem;
    //                     }
    //                 }

    //                 p {
    //                     margin-top: 20rem;
    //                     font-size: 28rem;
    //                 }
    //             }
    //         }
    //     }
    // }

    // ._bottom {
    //     background-color: #F5F5F5;

    //     .wrap {
    //         .sns {
    //             margin: 73rem 0;
    //             padding-left: 110rem;
    //             font-size: 30rem;

    //             i {
    //                 margin: 0 10rem;
    //             }

    //             @include media('sp') {
    //                 margin: 35rem 0;
    //                 padding-left: 0;
    //                 text-align: center;
    //             }
    //         }

    //         h3 {
    //             font-size: 32rem;

    //             @include media('sp') {
    //                 text-align: center;
    //             }
    //         }

    //         p.txt {
    //             font-size: 20rem;
    //             line-height: 35rem;
    //             margin-top: 8rem;

    //             @include media('sp') {
    //                 margin-top: 18rem;
    //                 text-align: center;
    //             }
    //         }

    //         ul {
    //             font-size: 20rem;
    //             line-height: 35rem;
    //             display: grid;
    //             grid-template-columns: auto;
    //             gap: 18rem;
    //             position: relative;
    //             padding-left: 28rem;

    //             &::before {
    //                 height: 100%;
    //                 width: 1px;
    //                 position: absolute;
    //                 left: 0;
    //                 top: 0;
    //                 content: '';
    //                 background: $text_color;
    //             }

    //             @include media('sp') {
    //                 margin-top: 66rem;
    //             }
    //         }

    //         .copyright {
    //             margin-top: 126rem;

    //             @include media('sp') {
    //                 margin-top: 66rem;
    //             }

    //             padding-bottom: 60rem;
    //             font-size: 20rem;
    //             line-height: 35rem;
    //         }
    //     }
    // }

    // ._logo {
    //     margin-top: auto;

    //     @include media('sp') {
    //         text-align: center;
    //         padding-top: 80rem;
    //     }

    //     img {
    //         width: 311rem;
    //     }

    //     p {
    //         margin-top: 12rem;
    //         font-size: 18rem;
    //     }
    // }
// }